{% extends 'base.html.twig' %}

{% block title %}Recette :
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Modifier la recette :
		{{ recipe.title }}</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
