<div {{attributes}}>
	{{ form_errors(form) }}

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.plainPassword) }}
	{# {{ form_row(form.agreeTerms) }} #}
	{{ form_row(form.submit) }}

	{{ form_end(form) }}
</div>
