<div {{attributes}}>
	{{ form_errors(form) }}

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{% if form.plainPassword is defined %}
		{{ form_row(form.plainPassword) }}
	{% endif %}
	{% if form.agreeTerms is defined %}
		{{ form_row(form.agreeTerms) }}
	{% endif %}
	{% if form.submit is defined %}
		{{ form_row(form.submit) }}
	{% endif %}

	{{ form_end(form) }}
</div>
